body {
    font-size: 1.3rem;
    background-color: #fafafa;
}
header {
    background-color: #fff;
    margin: 0 !important;
    padding: 20px 0 15px !important;
}
header img {
    max-width: 100%;
}
div.page {
    background-color: #fff;
}
article {
    padding-top: 30px;
    padding-bottom: 30px;
}
footer {
    border-top: 1px solid #cccccc;
    padding: 30px;
}
